* {
    font-family: "Orbitron", sans-serif;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    padding-top: 5rem;
    background-color: #000000;
}

.container h1 {
    color: #ff6c17;
    font-size: 50px;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
    color: #fcf96b;
    min-width: 90px;
}

.separator {
    font-size: 60px;
    padding: 0 20px;
    color: #dff7a8;
}

#milliseconds {
    font-size: 30px;
    color: rgb(177, 177, 83);
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #f59f6d;
}